

.sidebar-heading {background: linear-gradient(160deg,#7024c4 10%,#c3266b 41%,#cc5c4a 70%,#fdb00d 100%); color:white; padding: 10px; margin-top:5px;}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}
.page-footer{background-image: radial-gradient( circle 810px at 19.2% 35.5%,  rgba(253,230,143,1) 0%, rgba(253,168,137,1) 90% );}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 16px;
}

.list-unstyled li{padding: 5px;}
.list-unstyled li a{color:#4b4b4b; font-size: 16px; font-weight: 700; }
}

.list-unstyled li a:hover{color:#333333;}
}

.footer-copyright a{font-size: 14px; font-weight: 600;}

.tool{padding: 10px;}

.list-group-item-action {font-size: 16px; font-weight: 600;}

.main_menu .navbar-brand{padding-top:0}.main_menu .navbar{padding:6px 0}

.main_menu .main-menu-item ul li a{color:#fff!important;font-size:17px;padding:9px 14px!important;font-weight:600}@media only screen and (min-width:992px) and (max-width:1200px){.main_menu .main-menu-item ul li a{padding:0 16px!important}}

.main_menu {background: linear-gradient(160deg,#7024c4 10%,#c3266b 41%,#cc5c4a 70%,#fdb00d 100%);}


.nav-item dropdown show {background:#e3f2fd;}.dropdown .dropdown-menu {
    transition: all .5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1,0);
	margin-top: 18px;
    border: 0 solid transparent;
    background-color: #fff
}

.dropdown .dropdown-menu .dropdown-item {
    font-size: 18px;
    padding: 8px 20px!important;
    color: #333!important;
    background-color: #fff
}

.dropdown .dropdown-item:focus,.dropdown .dropdown-item:hover,.dropdown .dropdown-item.active {
    background: #03a9f4;
    color: #fff!important
}


.dropdown:hover .dropdown-menu {
    transform: scale(1)
	}

.navbar-light .navbar-toggler {
        border-color:transparent;
        background-color: #fff
    }
	
.eff{
  background-image: radial-gradient( circle 810px at 19.2% 35.5%,  rgba(253,230,143,1) 0%, rgba(253,168,137,1) 90% );
  transition:all .5s ease;
 color:black;
 border: 1px solid #fff;
}
.eff:hover{
	background: linear-gradient(160deg,#7024c4 10%,#c3266b 41%,#cc5c4a 70%,#fdb00d 100%);
	color:white;
  left:0;
 }
 
 .thigh {
    padding: 1rem;
	padding-left:12px;
	padding-right: 12px;
	padding-bottom: 10px;
	padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(160deg,#7024c4 10%,#c3266b 41%,#cc5c4a 70%,#fdb00d 100%);
	}

.bd-clipboard {
    position: relative;
        float: right;
}

.highlight {
    padding: 1rem;
	padding-left:5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: radial-gradient( circle 810px at 19.2% 35.5%,  rgba(253,230,143,1) 0%, rgba(253,168,137,1) 90% );
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.bd-clipboard + .highlight {
    margin-top: 0;
}

.hold{
    font-size: 18px;
    font-weight: 600;
			  }

.ad {
    font-size: 17px;
    font-weight: bold;
	margin-bottom: 5px;
		  }
.btns {
    position: absolute;
    top: 5px;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
	font-weight: bold;
    cursor: pointer;
    border: 0;
    border-radius: .25rem;
	border: 1px solid #6c757d;
}	  

.fancy {
  margin: 0;
  font-size: 18px;

  -webkit-transition: 0.3s;
  /* Safari */
  transition: 0.3s;
 }

.fancy {
clear: both;
display: block;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
background: #fff;
}

.btn2 {
    position: absolute;
    top: -88px;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
	font-weight: bold;
    cursor: pointer;
    border: 0;
    border-radius: .25rem;
	border: 1px solid #6c757d;
}
.btn1 {
    position: absolute;
    top: -180px;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
	font-weight: bold;
    cursor: pointer;
    border: 0;
    border-radius: .25rem;
	border: 1px solid #6c757d;
}

.ft {background: linear-gradient(160deg,#7024c4 10%,#c3266b 41%,#cc5c4a 70%,#fdb00d 100%);}
.theads {background-image: radial-gradient( circle 810px at 19.2% 35.5%,  rgba(253,230,143,1) 0%, rgba(253,168,137,1) 90% );}
.top_99 { width: 300px; height: 250px; }
@media(min-width: 500px) { .top_99 { width: 336px; height: 280px; } }
@media(min-width: 800px) { .top_99 { width: 728px; height: 90px; } }